<!--
  Generated template for the LessonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="yellowdark">
    <ion-title class="title-toolbar"> Lezioni</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="container">
  <ion-title class="title-top">{{title}}</ion-title>

  <ion-card *ngFor="let l of lesson; let i = index" class="card">
    <ion-card-header class="header-card">
      {{l.teachingDTO.name}}
    </ion-card-header>
    <div>
      <ion-item *ngIf="user.userType == value.student">
        <div class="column-flex">
          <div class="column-label"><b>Professore:</b></div>
          <div class="column-text">{{l.teachingDTO.professorDTO.name}} {{l.teachingDTO.professorDTO.surname}}</div>
        </div>
      </ion-item>
      <ion-item *ngIf="user.userType == value.professor">
        <div class="column-flex">
          <div class="column-label"><b>Corso:</b></div>
          <div class="column-text">{{l.teachingDTO.courseDTO.name}}</div>
        </div>
      </ion-item>
      <hr>
      <ion-item>
        <div class="column-flex">
          <div class="column-label"><b>Aula:</b></div>
          <div class="column-text">{{l.roomDTO.name}}
            <button ion-button icon-only (click)="openMaps(l.roomDTO.id)" style="margin-left: 40px"><ion-icon name="pin" class="pin"></ion-icon></button>
          </div>
        </div>
      </ion-item>
      <hr>
      <ion-item>
        <div class="column-flex">
          <div class="column-label"><b>Orario:</b></div>
          <div class="column-text">{{l.start}}-{{l.end}}</div>
        </div>
      </ion-item>
    </div>
    <ion-card-content *ngIf="user.userType == value.student">
      <ion-buttons class="column-flex">
        <button ion-button class="btn" (click)="materialModal(l.id)">Materiale</button>
        <button ion-button class="btn" (click)="reviewModal(i)">Recensione</button>
      </ion-buttons>
    </ion-card-content>

    <ion-card-content *ngIf="user.userType == value.professor">
      <ion-buttons align-items-center="">
        <button ion-button  class="btn" (click)="reviewModal(i)">Recensioni</button>
      </ion-buttons>
    </ion-card-content>

  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="openCalendar()" color="yellowdark"><ion-icon name="calendar"></ion-icon></button>
  </ion-fab>
</ion-content>

<!--
<ion-content>
  <ion-fab bottom right>
    <button ion-fab (click)="openCalendar()" color="yellowdark"><ion-icon name="calendar"></ion-icon></button>
  </ion-fab>
</ion-content>

<ion-content>
  <ion-card *ngFor="let l of lesson; let i = index" class="list">
    <ion-card-header class="headerCard">
      {{l.teachingDTO.name}}
    </ion-card-header>
    <div>
      <ion-item *ngIf="user.userType == value.student">
        <b>Professore:</b> {{l.teachingDTO.professorDTO.name}} {{l.teachingDTO.professorDTO.surname}}
      </ion-item>
      <ion-item *ngIf="user.userType == value.professor">
        <b>Corso:</b> {{l.teachingDTO.courseDTO.name}}
      </ion-item>
      <hr>

      <ion-item>
            <b>Aula:</b> {{l.roomDTO.name}} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button ion-button icon-only (click)="openMaps(l.roomDTO.id)"><ion-icon name="pin" class="pin"></ion-icon></button>
      </ion-item>
      <hr>
      <ion-item>
        <b>Orario:</b> {{l.start}}-{{l.end}}
      </ion-item>
    </div>
    <ion-card-content *ngIf="user.userType == value.student">
      <ion-buttons align-items-center="">
        <button ion-button  class="btn" round (click)="materialModal(l.id)">Materiale</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button ion-button  align-items-end class="btn" round (click)="reviewModal(i)">Recensione</button>
      </ion-buttons>
    </ion-card-content>

    <ion-card-content *ngIf="user.userType == value.professor">
      <ion-buttons align-items-center="">
        <button ion-button  class="btnProf" round (click)="reviewModal(i)">Recensioni</button>
      </ion-buttons>
    </ion-card-content>

  </ion-card>
</ion-content>

-->
