page-home-professor {

  .nvb{
    font-weight: bold;
    height: 1%;
  }

  .header{
    background-color: #eac400;
  }
  .nvb{
    font-weight: bold;
    height: 1%;
  }

  .master{
    background-color: #dcdcdc;
  }

  .card{
    text-align: center;
  }

  .headerCard{
    background-color: #ffd700;
    font-weight: bold;
  }


}
