page-material-reviews {

  ul {
    padding: 10px;
    &.rating li {
      padding: 5px 10px !important;
      background: none;
      color: #ffb400;
      ion-icon {
        font-size: 40px;
      }
    }
  }

  .headerCard{
    background-color: #ffd700;
    font-weight: bold;
    font-size: large;
  }


  .title{
    float: right;
  }


  .btn{
    margin-right: auto;
    margin-left: auto;
    background-color: #ffd700;
    color: #222222;
  }

}
