page-teaching-list {

  .btn{
    margin-right: auto;
    margin-left: auto;
    display: block !important;
    background-color: #ffd700;
    color: #222222;
  }

  .headerCard{
    background-color: #ffd700;
    font-weight: bold;

  }

  .title{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

}
