page-home-student {
  .header{
    background-color: #ffd700;
  }
  .nvb{
    font-weight: bold;
  }

  .card{
    text-align: center;
  }

  .headerCard{
    background-color: #ffd700;
    font-weight: bold;
  }
}
