page-material {


  .close{
    align-self: right;
    color: #488aff;
    font-weight: bold;
    font-size: larger;
    float: left;
    display: inline-block;
  }

  .title{
    float: right;
  }

}
