page-material {

  .headerCard{
    background-color: #ffd700;
    font-weight: bold;
  }
  .close{
    align-self: right;
    color: #488aff;
    font-weight: bold;
    font-size: larger;
    float: left;
    display: inline-block;
  }
  .headerCard{

  }
  .title{
    float: right;
  }
  .download{
    background-color: #eac400;
    margin-right: auto;
    margin-left: auto;
    display: block !important;
    color: #000;
  }

}
